# FastAPI & Server
fastapi==0.95.0
uvicorn==0.27.1
python-multipart==0.0.6

# Audio Processing
openai-whisper==20231106
torchaudio==2.2.1
torch==2.2.1
pydub==0.25.1
pyannote.audio==3.0.1
transformers==4.39.3

# Utils
huggingface_hub==0.23.1
numpy==1.26.4
scipy==1.12.0
fpdf==1.7.2
python-docx==0.8.11

# Authentication
bcrypt==4.2.0
pymongo[srv]==4.6.1
google-auth==2.27.0
google-auth-oauthlib==0.5.4
email-validator==2.1.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4